body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
    margin-top: 90px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.centered {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

/*********GENRE DIV COLORS ****************/
.genre {
	color: white;
	font-weight: bold;
	display: inline;
	padding-right: 15px;
  	padding-left: 15px;
}

.genre-us {
	background-color: red;
}

.genre-viral {
	background-color: black;
}

.genre-international {
	background-color: green;
}

.genre-science {
	background-color: blue;
}

.genre-entertainment {
	background-color: pink;
}

.genre-school {
	background-color: purple;
}

.genre-life {
	background-color: orange;
}

.genre-editorial {
	color: black;
	background-color: yellow;
}

/*****HOME PAGE**************/

/**************CAROUSEL***************/

#myCarousel img{
	max-height: 400px;
	width: 100%;
/*	width: auto;
	height: auto; */
}

body { padding-top: 50px; }

#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}

/*************PRETTY BOXES *************/
.pretty-box {
	position: relative;
	overflow: hidden;
}

.pretty-box > .hold-image{
	position: relative;
	z-index: 1;
	opacity: .5;

}

.hold-image img {	
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%:
	z-index: -1;
	display: block;
}

.pretty-box a, .pretty-box div {
	position: relative;
	z-index: 2;
}

/**************************************/

.centered-and-cropped {
	object-fit: cover;
}

.inline {float: left;}

.preview-article h1{
	margin-top: 5px;
	margin-bottom: 5px;
}

.preview-image {
	max-width: 200px;
	max-height: 150px;
	width: auto;
	height: auto;
	display: block;

}

.media-object {
	height: 50px;
	width: 50px;
	object-fit: cover;
}

/*******************SECOND COLUMN**********/

.second-row {
	padding-top: 20px;
}
.second-row > div {
	margin: 0;
	padding: 0;
}

.main-image {
	max-width: 100%;
	width: auto;
	height: auto;

}

.main-image-padding {
	padding-left: 30px;
	padding-right: 30px;
}

.top-pad {
	padding-top: 20px;
}

.big-pad {
	padding: 30px;
}

.med-img-home {
	max-width: 100%;
	height: 150px;
	object-fit: cover;
	margin-right: auto;
	margin-left: auto;

}

/*****************************/

@media(max-width : 480px) {
	.preview-image {
		max-width: 480px;
	}

	.navbar-brand {
		display: inline;
	}

	#navbar-top {
		display: none;
	}    

	.media-object {
		display: none;
	}

}
@media (min-width: 768px) {
  .preview-image {
    max-width: 750px;
  }

  .navbar-brand {
		display: none;
	}

	#navbar-top {
		display: block;
	} 

}
@media (min-width: 992px) {
  .preview-image {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .preview-image {
    max-width: 1170px;
  }
}

.social-row {
	margin: auto;
	text-align: center;
}


/*****ARTICLE PAGE**********/
.less-hr {
	margin: 0;
	padding: 0;
	margin-bottom: 2px;
}

/**********TAGS *********/
.tag-img {
	max-width: 200px;
}

/*********STAFF*****/
.person {
	max-width: 200px;
	border: 10px solid transparent;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.staff h4, .staff p {
	text-align: center;
}

/***************FOOTER**********/
.footer {
	background-color: black;
	color: white;
	margin: 0;
	padding: 30px;
}

