body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
    margin-top: 90px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.centered {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

/*********GENRE DIV COLORS ****************/
.genre {
	color: white;
	font-weight: bold;
	display: inline;
	padding-right: 15px;
  	padding-left: 15px;
}

.genre-us {
	background-color: red;
}

.genre-viral {
	background-color: black;
}

.genre-international {
	background-color: green;
}

.genre-science {
	background-color: blue;
}

.genre-entertainment {
	background-color: pink;
}

.genre-school {
	background-color: purple;
}

.genre-life {
	background-color: orange;
}

.genre-editorial {
	color: black;
	background-color: yellow;
}

/*****HOME PAGE**************/

#myCarousel img{
	max-height: 300px;
	width: 100%;
/*	width: auto;
	height: auto; */
}

.centered-and-cropped {
	object-fit: cover;
}

.inline {float: left;}

.preview-article h1{
	margin-top: 5px;
	margin-bottom: 5px;
}

.preview-image {
	max-width: 200px;
	max-height: 150px;
	width: auto;
	height: auto;
	display: block;

}


@media(max-width : 480px) {
	.preview-image {
		max-width: 480px;
	}

	.navbar-brand {
		display: inline;
	}

	#navbar-top {
		display: none;
	}    
}
@media (min-width: 768px) {
  .preview-image {
    max-width: 750px;
  }

  .navbar-brand {
		display: none;
	}

	#navbar-top {
		display: block;
	} 
}
@media (min-width: 992px) {
  .preview-image {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .preview-image {
    max-width: 1170px;
  }
}

.social-row {
	margin: auto;
	text-align: center;
}


/*****ARTICLE PAGE**********/
.less-hr {
	margin: 0;
	padding: 0;
	margin-bottom: 2px;
}

/**********TAGS *********/
.tag-img {
	max-width: 200px;
}

/*********STAFF*****/
.person {
	max-width: 200px;
	border: 10px solid transparent;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.staff h4, .staff p {
	text-align: center;
}


